@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}
<h2>@Model.Heading</h2>

@using (Html.BeginForm("Search", "Gigs"))
{
    <div class="form-group">
        <div id="searchGigs" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Search by artist, genre..." })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>

}

<ul class="gigs voffset4">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    <a href="@Url.Action("Details", "Gigs", new {id=gig.Id})">
                        @gig.Artist.Name
                    </a>
                    @if (gig.IsCanceled)
                    {
                        <span class="label label-warning">Canceled</span>
                    }

                    @if (Model.ShowActtions)
                    {
                        <button data-user-id="@gig.ArtistId" class="btn btn-link btn-sm js-toggle-follow">Follow</button>
                    }
                </span>
                <span class="genre">
                    Rock
                </span>
                @if (Model.ShowActtions && gig.IsCanceled == false)
                {
                    <button data-gig-id="@gig.Id"
                            class="btn @(Model.Attendances.Contains(gig.Id)?"btn-info":"btn-default") btn-sm pull-right js-toggle-attendance">
                        Going?
                    </button>
                }
            </div>
        </li>
    }
</ul>

@section scripts{
    <script>
        $(document).ready(function () {
            GigsController.init();

            $('.js-toggle-follow').click(function (e) {
                var button = $(e.target);
                // WebApi read data from body. It read the key which is empty string to get data.
                $.post('/api/followings', { FolloweeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text('Following');
                    })
                    .fail(function () {
                        alert('Something failed!');
                    });
            });
        });

    </script>
}